services:
  db:
    image: bitnami/postgresql:latest
    container_name: customer_support_postgres
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=customer_support
    volumes:
      - ./create_data/docker:/docker-entrypoint-initdb.d
      - db:/var/lib/postgresql/data
    networks:
      - db

volumes:
  db:

networks:
  db:
    driver: bridge
